@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Quicksand&display=swap');
@import url('http://fonts.cdnfonts.com/css/harry-potter');

body {
    background-image: url('https://preview.redd.it/cxeimwflyo881.png?width=800&format=png&auto=webp&s=2160be26be2b962a1b9048c2e6236bbfe643c71c');
    color: white;
    font-family: 'Indie Flower';
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
}

.title {
    font-family: 'Harry Potter';
    padding: 75px 0px 10px ;
    font-size: 50px;
}


.rules {
    font-family: 'sans-serif';
    background:  #9bc194;
    /* width: 50%; */
    border: 15px ;
    padding: 35px;;
    margin: 50px;
    color: black;
}

.rulesTitle {
    font-family: 'Bangers';
}

.home {
    text-align: center;
}
button {
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    background: -webkit-linear-gradient(left, #09582f, #9bc194);
    color: white;
    font-size: 30px;
    text-align: center;
    font-family:'Cinzel Decorative';
}
.form {
    display: none;
}

.newGame {
    margin: 30px auto;
    position: relative;
    right: 1%;
}
.leaderboard {
    display: none;
}
