@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@200&family=Quicksand&display=swap');
@import url('http://fonts.cdnfonts.com/css/harry-potter');

.question {
    font-family: 'Harry Potter';
    text-align: center;
    font-size: 50px;
}

.questionName {
    background-color: #9bc194;
}

.questionPlace {
    font-size: 30px;
    font-family: 'sans-serif'
}

.option-btn {
    display: inline;
    width: 500px;
    padding: 3px;
    position: relative;
    right: 75%;
    top: 10%;
}

.score {
    font-size: 30px;
}

.font {
    font-family: 'Poppins';
}
