@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@700&family=Grape+Nuts&family=Indie+Flower&family=Lobster&family=Poppins:wght@100&family=Quicksand&display=swap');

.name {
    font-family: 'Harry Potter';
    font-size: 75px;
}

.sub-Title {
    font-family: 'Poppins';
}

button {
    background-color: aqua;
}
